body {
font-family: 'NTR', sans-serif;
}

.main-container {
	margin-top: 20px;
}

#main-heading {
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Syncopate', sans-serif;
	font-size: 50px;
}
.image {
	/* The image used */
    background-image: "assets/images/crystals.jpg");

    /* Full height */
 	width: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.jumbotron {
	background-color: #9d9db0;
	color: #ffffff;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.imageSize {
	width: 100px;
	height: 100px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
}

.imageSize:hover {
	opacity: 0.5;
}

.crystals {
	opacity: 1;
}

.panel-title {
	font-weight: bold;
	font-size: 20px;
}

.panel-body  {
	opacity: 1;
	background-color: #9d9db0;
	color: #ffffff;
	
}

h1 {
	font-size: 70px;
}

.panel {
	border: 0;
}	
	
footer {
	letter-spacing: 6px;
	font-size: 20px;
}